<h1>All Users:</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user_path(user) %> <img src="<%= user.img_url %>" style="width:40px;height:40px;">
    </li>
  <% end %>
</ul>
