<h1>Venues</h1>
<ul style="list-style-type:none;">

<% @venues.each do |venue| %>
  <li>
    <a href="/venues/<%= venue.id %>">
    <img src="<%= venue.img_url %>" alt="<%= venue.name %>" class="center">
    </a>
  </li>

<% end %>
</ul>


<%= link_to "Create a new venue", new_venue_path %>
