

 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
 }

 div.a {
   text-align: center;
 }
 div.b {
   text-align: left;
 }
 div.c {
   text-align: right;
 }
 div.c {
   text-align: justify;
 }

 .venue-img-link {
 text-shadow: 0 0 15px black;
 }
 .on-venue-link {
 text-shadow: 0 0 15px black;
 color: pink;
}

.container {
  display: flex;
}

*= require simple_calendar





/* ###### */
