// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bgt {
  background-image: url("https://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/waynes-world-fwx.jpg?itok=bzUctDs-");
  opacity: 0.45;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.booking-font {
  color: white; 
}
