// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bgf {
  background-image: url("https://s3.amazonaws.com/growlermag-media/PenelopeSpheerisWW.jpg");
  opacity: 0.45;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
