// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

body, html {
  height: 100%;
}


.cover-heading {
  color: white;
}

.tagline {
  color: #7aadff;
  position: center;
  font-size: 23px;
}

.bg {
  background-image: url("https://media.gq.com/photos/58a240704a441ac67f7645f0/16:9/w_2992,h_1683,c_limit/GettyImages-141268575.jpg");
  opacity: 0.45;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-login {
  background-image: url("https://yourfaceisamesscom.files.wordpress.com/2017/07/wayne-and-garth-1.jpg");
  opacity: 0.45;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgt {
  background-image: url("https://media.gq.com/photos/58a240704a441ac67f7645f0/16:9/w_2992,h_1683,c_limit/GettyImages-141268575.jpg");
  opacity: 0.45;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.box {
  border: 1px solid green;
}

body {
  background-color: lightgrey;
}
