// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.venue-img-link {
text-shadow: 0 0 15px black;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bgt {
  background-image: url("https://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/waynes-world-fwx.jpg?itok=bzUctDs-");
  opacity: 0.45;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

ul {
  list-style-position: inside;
  padding-left: 0;
}
